.card-margin {
    margin-left: 10rem;
    margin-right: 10rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.card-margin2 {
    margin-left: 6rem;
    margin-right: 6rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
    box-shadow: 5px 5px 10px #888888;
    border-radius: 20px;
}

nav {
    position: fixed !important;
    top: 0;
    z-index: 2;
    width: 100%;
}