.card-margin {
    margin-left: 10rem;
    margin-right: 10rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
    border-color: goldenrod;
    background-color: #202020;
}

.card-header {
    display: flex;
    flex-direction: row;
}

.card-title {
    margin-left: 1rem;
    margin-top: 0.20rem;
    font-weight: bold;
}

.card-reaction {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    padding-right: 1rem;
    padding-bottom: 1rem;
}

.card-positive-margin {
    margin-left: 6rem;
    margin-right: 6rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
    box-shadow: 3px 3px 5px black;
    border-radius: 20px;
    border-color: #caff8e;
    background-color: #caff8e;
}

.card-negative-margin {
    margin-left: 6rem;
    margin-right: 6rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
    box-shadow: 3px 3px 5px black;
    border-radius: 20px;
    border-color: #ff797d;
    background-color: #ff797d;
}

.card-count-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.card-count-total {
    display: inline-block;
    background-color: goldenrod;
    border-color: black;
    box-shadow: 3px 3px 5px black;
    color: black;
    margin: 2rem;
    text-align: center;
    font-size: 10pt;
    font-weight: bold;
}

.card-count-positive {
    display: inline-block;
    background-color: #caff8e;
    border-color: #caff8e;
    box-shadow: 3px 3px 5px black;
    color: black;
    margin: 2rem;
    text-align: center;
    font-size: 10pt;
    font-weight: bold;
}

.card-count-negative {
    display: inline-block;
    background-color: #ff797d;
    border-color: #ff797d;
    box-shadow: 3px 3px 5px black;
    color: black;
    margin: 2rem;
    text-align: center;
    font-size: 10pt;
    font-weight: bold;
}

.spinner-grow {
    margin-right: 0.5rem;
}

.button1-settings {
    height: 41px;
    width: 100px;
    background-color: transparent;
    font-family: "Times New Roman";
    font-weight: bold;
    border-radius: 10px;
    border-width: 2px;
    margin-right: 5px;

}

.button2-settings {
    height: 41px;
    width: 200px;
    background-color: transparent;
    font-family: "Times New Roman";
    font-weight: bold;
    border-radius: 10px;
    border-width: 2px;
}

nav {
    position: fixed !important;
    top: 0;
    z-index: 2;
    width: 100%;
    overflow: hidden;
}

.page-settings {
    background-color: goldenrod;
    color: black;
}

.search {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    padding-top: 2rem;
    padding-left: 10rem;
    padding-right: 10rem;
}

.search-result {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    padding-top: 0rem;
    padding-left: 10rem;
    padding-right: 10rem;
    color: goldenrod;
    font-size: 10pt;
}

.btn-close {
    background-color: #ff797d;
    margin-left: 1rem;
    padding: 0.25rem !important;
}

.btn-close:focus {
    box-shadow: none;
}

.btn {
    background-color: goldenrod;
    color: black;
    border-color: #202020;
}

.btn-nav {
    border-color: goldenrod;
    font-size: 11pt;
    font-weight: bold;
    box-shadow: 1px 1px 2px black;
}

.btn-nav:hover {
    border-color: black !important;
    box-shadow: none;
}

.stats-margin {
    margin-right: 1rem;
}

.btn:hover {
    background-color: #202020;
    color: goldenrod;
    border-color: goldenrod;
}

.btn:focus {
    background-color: #202020;
    color: goldenrod;
    border-color: goldenrod;
}

.dropdown-menu {
    background-color: goldenrod;
    color: black;
}

.dropdown-item:hover {
    background-color: #202020;
    color: goldenrod;
}

.dropdown-item.selected {
    background-color: #202020;
    color: goldenrod;
}

form {
    flex: auto;
}

.input-search {
    flex: auto;
}

.dd-order {
    margin-left: 5rem !important;
    margin-right: 2rem;
}
.form-control {
    background-color: #202020;
    border-color: goldenrod;
    color: goldenrod;
}

.form-control:focus {
    background-color: #202020;
    border-color: goldenrod;
    box-shadow: none !important;
    color: goldenrod;
}

.form-control::placeholder {
    color: gray;
}

.search-label {
    color: goldenrod;
}

.modal-content {
    background-color: #151515;
    box-shadow: 0 0 20px 5px black;
}

.modal-header {
    border-bottom: 2px solid #202020;
}

.sentiment-result {
    margin-top: 2rem;
    color: goldenrod;
}

.modal-footer {
    border-top: none;
}

.modal-title, .form-label {
    color: goldenrod;
}

.nav-pagination {
    display: flex;
    justify-content: center;
    margin-bottom: 4rem;
}

.pagination {
    display: flex;
    align-items: center;
}

.bi-chevron-right {
    margin-left: 5px;
}

.bi-chevron-left {
    margin-right: 5px;
}

.page-link {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-color: black;
}

.page-link:hover {
    background-color: #202020;
    border-color: black;
    color: goldenrod;
}

.page-link:focus {
    background-color: #202020;
    border-color: black;
    color: goldenrod;
    box-shadow: none;
}

.current-page {
    background-color: goldenrod;
    font-size: 14pt;
    font-weight: bold;
}

.current-page:hover {
    background-color: goldenrod;
    color: black;
    font-size: 14pt;
    font-weight: bold;
}

.disabled {
    background-color: #202020 !important;
    border-color: black !important;
    color: gray !important;
}